<header>
  <div class="navbar navbar-dark bg-angular shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <strong>Álbum de superheroes</strong>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarHeader"
        aria-controls="navbarHeader"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>

<section class="jumbotron text-center">
  <div class="container form-inline">
    <h1>{{ " de heroes" | title }}</h1>
    <p class="lead text-muted"></p>
    <hr />
    <p>
      <select
        class="form-control mx-sm-1 mb-2"
        [(ngModel)]="findByRace"
        (change)="p = 1"
      >
        <option value="">Mostrar por Raza</option>
        <option
          value="{{ heroe.appearance.race }}"
          *ngFor="let heroe of hs.heroes | orderRace | removeRepRace"
          >{{ heroe.appearance.race }}</option
        >
      </select>
      <select
        class="form-control mx-sm-1 mb-2"
        [(ngModel)]="findByAlignment"
        (change)="p = 1"
      >
        <option value="">Mostrar por Lineamiento</option>
        <option
          value="{{ heroe.biography.alignment }}"
          *ngFor="let heroe of hs.heroes | orderAlignment | removeRepAlignment"
          >{{ heroe.biography.alignment | titlecase }}</option
        >
      </select>
      <select
        class="form-control mx-sm-1 mb-2"
        [(ngModel)]="findByPublisher"
        (change)="p = 1"
      >
        <option value="">Motrar por publicador</option>
        <option
          value="{{ heroe.biography.publisher }}"
          *ngFor="let heroe of hs.heroes | orderPublisher | removeRepPublisher"
          >{{ heroe.biography.publisher }}</option
        >
      </select>
    </p>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <div
        *ngFor="
          let heroe of hs.heroes
            | findRace: findByRace
            | findAlignment: findByAlignment
            | findPublisher: findByPublisher
            | orderName
            | paginate: { itemsPerPage: 10, currentPage: p }
        "
      >
        <app-hero-card [hero]="heroe" *ngIf="heroe"></app-hero-card>
      </div>
    </div>
    <div class="pagination">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>
