<header>
  <div class="navbar navbar-dark bg-angular shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <strong>Álbum de superheroes</strong>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarHeader"
        aria-controls="navbarHeader"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>

<section class="jumbotron text-center">
  <div class="container form-inline">
    <h1>Listado</h1>
    <p class="lead text-muted"></p>
    <hr />
    <p>
      <select class="form-control mx-sm-1 mb-2">
        <option value="">Mostrar por Nombre</option>
        <option value="">Batman</option>
        <option value="">Hulk</option>
        <option value="">Robin</option>
      </select>
      <select class="form-control mx-sm-1 mb-2">
        <option value="">Mostrar por Apariencia</option>
        <option value="">-</option>
        <option value="">good</option>
        <option value="">bad</option>
      </select>
      <select class="form-control mx-sm-1 mb-2">
        <option value="">Motrar por publicador</option>
        <option value="">Marvel</option>
        <option value="">DC Comics</option>
        <option value="">Archie Comics</option>
      </select>
    </p>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="card mb-3 espacio" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img
              src="https://cdn.rawgit.com/akabab/superhero-api/0.2.0/api/images/md/1-a-bomb.jpg"
              class="card-img"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><strong>Hulk</strong></h5>
              <hr />
              <p class="card-text">
                <strong>Biografía: </strong>Bruce Banner. Dayton, Ohio
              </p>
              <p class="card-text">
                <strong>Ocupación: </strong>Nuclear physicist, Agent of
                S.H.I.E.L.D.
              </p>
              <p class="card-text">
                <small class="text-muted"
                  >Alias: "Annihilator", "Captain Universe", "Joe Fixit", "Mr.
                  Fixit", "Mechano", "Professor", "Jade Jaws", "Golly Green
                  Giant"</small
                >
              </p>

              <p></p>
              <p>
                <button type="button" class="btn btn-primary btn-sm">
                  Ver más
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3 espacio" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img
              src="https://cdn.rawgit.com/akabab/superhero-api/0.2.0/api/images/md/1-a-bomb.jpg"
              class="card-img"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><strong>Hulk</strong></h5>
              <hr />
              <p class="card-text">
                <strong>Biografía: </strong>Bruce Banner. Dayton, Ohio
              </p>
              <p class="card-text">
                <strong>Ocupación: </strong>Nuclear physicist, Agent of
                S.H.I.E.L.D.
              </p>
              <p class="card-text">
                <small class="text-muted"
                  >Alias: "Annihilator", "Captain Universe", "Joe Fixit", "Mr.
                  Fixit", "Mechano", "Professor", "Jade Jaws", "Golly Green
                  Giant"</small
                >
              </p>

              <p></p>
              <p>
                <button type="button" class="btn btn-primary btn-sm">
                  Ver más
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3 espacio" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img
              src="https://cdn.rawgit.com/akabab/superhero-api/0.2.0/api/images/md/1-a-bomb.jpg"
              class="card-img"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><strong>Hulk</strong></h5>
              <hr />
              <p class="card-text">
                <strong>Biografía: </strong>Bruce Banner. Dayton, Ohio
              </p>
              <p class="card-text">
                <strong>Ocupación: </strong>Nuclear physicist, Agent of
                S.H.I.E.L.D.
              </p>
              <p class="card-text">
                <small class="text-muted"
                  >Alias: "Annihilator", "Captain Universe", "Joe Fixit", "Mr.
                  Fixit", "Mechano", "Professor", "Jade Jaws", "Golly Green
                  Giant"</small
                >
              </p>

              <p></p>
              <p>
                <button type="button" class="btn btn-primary btn-sm">
                  Ver más
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3 espacio" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img
              src="https://cdn.rawgit.com/akabab/superhero-api/0.2.0/api/images/md/1-a-bomb.jpg"
              class="card-img"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><strong>Hulk</strong></h5>
              <hr />
              <p class="card-text">
                <strong>Biografía: </strong>Bruce Banner. Dayton, Ohio
              </p>
              <p class="card-text">
                <strong>Ocupación: </strong>Nuclear physicist, Agent of
                S.H.I.E.L.D.
              </p>
              <p class="card-text">
                <small class="text-muted"
                  >Alias: "Annihilator", "Captain Universe", "Joe Fixit", "Mr.
                  Fixit", "Mechano", "Professor", "Jade Jaws", "Golly Green
                  Giant"</small
                >
              </p>

              <p></p>
              <p>
                <button type="button" class="btn btn-primary btn-sm">
                  Ver más
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
