@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.espacio {
  margin-right: 10px;
}

.card,
.card-img {
  height: 100%;
}

.jumbotron {
  background: #b3b3b3;
  background: linear-gradient(90deg, #b3b3b3 0%, #555 100%);
}

.bg-angular {
  background: linear-gradient(
    90deg,
    rgba(221, 27, 22, 1) 0%,
    rgba(166, 18, 13, 1) 100%
  );
}
